# DB
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DB"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="mydb"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# APP
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
SSL_STATUS="0"
DEFAULT_PASSWORD=
PORT=6053

# SMS
SMS_USERNAME=
SMS_PASSWORD=